<!-- review-index.component.html -->
<div class="container">
  <div class="row">
    <div class="col mt-2">
      <div class=" d-flex">
        <h3 class="fw-bold my-2">Review your chosen answers</h3>
        <button class="btn btn-sm m-2 btn-primary float-end ms-auto" (click)="submitQuiz()">Submit</button>
      </div>

      <div class="row">
        <div class="col-6" *ngFor="let question of questions">
          <div class="question">
            <p class="fw-bold">{{ question.id}}. {{ question.question }}</p>
            <div *ngFor="let option of question.options">
              <label [class.selected-option]="option === question.chosenAnswer">
                <input type="radio" [value]="option" [disabled]="true" [checked]="question.chosenAnswer === option" />
                {{ option }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

